.auth-page{

  min-height:100vh;

  display:flex;

  align-items:center;

  justify-content:center;

  padding:20px;

}



.auth-card{

  width:420px;

  background:#111827;

  padding:40px;

  border-radius:20px;

  border:1px solid #1f2937;

  box-shadow:0 20px 60px rgba(0,0,0,.4);

}



.brand{

  display:flex;

  align-items:center;

  gap:12px;

  color:#38bdf8;

}



.brand h1{

  margin:0;

  font-size:28px;

}



.auth-card h2{

  margin-top:30px;

  font-size:28px;

}



.auth-card p{

  color:#94a3b8;

}



.input-box{

  margin-top:18px;

  height:52px;

  display:flex;

  align-items:center;

  gap:12px;

  background:#0f172a;

  padding:0 16px;

  border-radius:12px;

  border:1px solid #334155;

}



.input-box input{

  flex:1;

  background:none;

  border:none;

  outline:none;

  color:white;

  font-size:15px;

}



.input-box input::placeholder{

  color:#64748b;

}



.password-eye{

  cursor:pointer;

  color:#cbd5e1;

}



.password-eye:hover{

  color:#38bdf8;

}



.auth-card button{

  width:100%;

  margin-top:25px;

  height:52px;

  border:none;

  border-radius:12px;

  background:#0284c7;

  color:white;

  font-size:16px;

  font-weight:600;

  cursor:pointer;

}



.auth-card button:hover{

  background:#0369a1;

}



.switch{

  text-align:center;

  margin-top:25px;

  color:#94a3b8;

}



.switch span{

  color:#38bdf8;

  margin-left:8px;

  cursor:pointer;

  font-weight:600;

}



.error-box{

  margin-top:15px;

  padding:12px;

  border-radius:10px;

  background:#7f1d1d;

  color:#fecaca;

}